@import 'default';

html {
    background: #FEFDED;
    color:#808080;
}
.sign-pg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    margin-top: -225px;
    margin-left: -225px;
    text-align: center;
    background: #fff;
    border: 5px solid #F8E0D1;
    @include bd-rd(225px);

    -moz-box-shadow: 0 0 20px -5px #333;
    -o-box-shadow: 0 0 20px -5px #333;
    -webkit-box-shadow: 0 0 20px -5px #333;
    box-shadow: 0 0 20px -5px #333;
}

// login page
.login_form {
    position: relative;
    font-size: 12pt;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -150px;
    h2 {
        font-size: 18pt;
    }
    h1 {
        position: relative;
        top: 30px;
        left: -70px;
        font-size: 14pt;
    }
    .input_form {
        position: relative;
        top: 40px;
        input[type=text],
        input[type=password] {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 10px;
            width: 200px;
            height: 40px;
            margin-top: 8px;
        }    
    }
    a {
        position: relative;
        top: 60px;
        left: -5px;
        color: #808080;
        font-size: 9pt;
    }
    input[type=submit] {
        position: relative;
        top: 60px;
        left: 4px;
        background: #E89867;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }
}
// sign up page
.signup_form {
    position: relative;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -150px;

    h2 {
        font-size: 18pt;
    }
    .form {
        position: relative;
        top: 20px;
        input[type=text],
        input[type=password] {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 10px;
            width: 200px;
            height: 40px;
            margin-top: 8px;
        }
    }   
    input[type=submit],
    input[type=button] {
        position: relative;
        top: 40px;
        background: #E89867;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }
    .submit {
        margin-left: 10px;
    }
}