@import 'default';

.signup_pg {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -332px;
    padding: 50px 30px;
    background: $wt;
    border-right: 4px solid #C2CBCE;
    -moz-box-shadow: inset 7px 0 7px -8px #333;
    -o-box-shadow: inset 7px 0 7px -8px #333;
    -webkit-box-shadow: inset 7px 0 7px -8px #333;
    box-shadow: inset 7px 0 7px -8px #333;
    
    form {
        text-align: center;
    	
        h2 {
            color: #333;
            font-size: 22pt;
            margin-bottom: 20px;
    	}
    	
        input[type=text],
    	input[type=password] {
    		background: #E8F3F8;
    		padding: 14px;
    		width: 330px;
    		@include bd-rd(3px);
    		border: none;
    		margin-top: 30px;
    	}
    	
        .btn {
            margin-top: 70px;

    		input[type=button],
    		input[type=submit] {
	    		background: #4B99AD;
	    		border: none;
	    		color: $wt;
	    		padding: 8px 15px 8px 15px;
	    	}

            input[type=submit]:first-child {
                margin-right: 10px
            }
	    }
    }
}