@import 'default';

// layout.html
.navbar {
    border-radius: 0;
    line-height: 25px;

    h1 {
        font-size: 13pt;
    }
    p {
        padding-left: 5px;
    }
}

// index.html
.main-pg {
    .page-header {
        h2 {
            font-size: 12pt;
            color: #777;
            padding: 20px;
        }
    }
}

// start.html
.work-page {
    form {
        .form-group {
            margin: 0 0 15px 0;
        }
        img {
            height: 230px;
        }
        textarea {
            cursor: text;
            height: 100px;
        }
        input[type=checkbox],
        input[type=radio] {
            cursor: pointer;
            margin: 5px;
        }
        .button-div {
            width: 200px;
            padding: 0;
            button {
                margin-right: 5px;
            }
        }
        input[type=file] {
            display: inline;
            margin: 10px;
        }
        .add-form {
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .minus-button {
            font-size: 1pt;
            padding: 3px 5px 5px 5px;
            margin-right: 5px;
        }
        .reset-checked-button {
            padding: 3px 8px 3px 8px;
            font-size: 7pt;
            margin-bottom: 3px;
            margin-left: 3px;
        }
        .added_genres {
            color: #777;
            font-size: 12pt;
        }
    }
}