<!DOCTYPE html>
<html lang="ko" >
<head>
    {% if title %}
    <title>Animoa:Translate-{{ title }}</title>
    {% else %}
    <title>Animoa:Translate</title>
    {% endif %} 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/style.css?version=20150127" rel="stylesheet" />
    <script src="../static/js/jquery-2.1.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <h1 class="navbar-text"><a href="{{ url_for('home.main') }}" class="navbar-link">애니모아</a></h1>
        <p class="navbar-text"><a href="{{ url_for('work.start') }}" class="navbar-link">시작하기</a></p>
        <p class="navbar-text"><a href="#" class="navbar-link">검색</a></p>
        <p class="navbar-text"><a href="#" class="navbar-link">설정</a></p>
        {% if current_user.is_authenticated() %}
        <p class="navbar-text pull-right"><a href="{{ url_for('auth.logout') }}" class="navbar-link">Logout</a></p>          
        <p class="navbar-text pull-right"><a href="#" class="navbar-link">{{ current_user.name }}의 페이지</a></p>
        {% else %}
        <p class="navbar-text pull-right"><a href="{{ url_for('auth.login') }}" class="navbar-link">Login</a></p>
        {% endif %}
    </nav>
    {% block main %}
    {% endblock %}

    {% block start %}
    {% endblock %}
    <script src="http://www.stalk.io/stalk.js"></script>
    <script>STALK.init();</script>
    <script src="../static/js/ajax.js?version=150129"></script>
</body>
</html>
