@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato);
* {
  padding: 0;
  margin: 0;
  z-index: 0;
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

html {
  background: #E8F3F8; }

.main_container {
  background: #E8F3F8;
  width: auto;
  height: 700px; }
  .main_container .main_pg {
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -225px;
    width: 450px;
    height: 450px;
    background: #fff;
    border: 5px solid #DBE6EC;
    border-radius: 225px;
    -webkit-border-radius: 225px;
    -moz-border-radius: 225px;
    -khtml-border-radius: 225px;
    -moz-box-shadow: 0 0 20px -5px #333;
    -o-box-shadow: 0 0 20px -5px #333;
    -webkit-box-shadow: 0 0 20px -5px #333;
    box-shadow: 0 0 20px -5px #333; }
  .main_container .login_form {
    position: relative;
    font-size: 12pt;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -150px;
    color: #808080; }
    .main_container .login_form h2 {
      font-size: 18pt;
      text-align: center; }
    .main_container .login_form h1 {
      position: relative;
      top: 35px;
      left: 50px;
      font-size: 17pt; }
    .main_container .login_form input[type=text],
    .main_container .login_form input[type=password] {
      position: relative;
      top: 40px;
      left: 50%;
      margin-top: 10px;
      margin-left: -100px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 10px;
      outline: none;
      width: 200px;
      height: 40px; }
    .main_container .login_form a {
      position: relative;
      color: #808080;
      font-size: 9pt;
      top: 70px;
      left: 50px; }
    .main_container .login_form input[type=submit] {
      position: relative;
      top: 70px;
      left: 65px;
      background: #4B99AD;
      padding: 8px 15px 8px 15px;
      border: none;
      color: #fff; }

.bottom-bar {
  z-index: 9999;
  padding: 30px;
  width: auto;
  height: 50px;
  background: #81A8B8;
  -moz-box-shadow: inset 0 6px 12px -8px #333;
  -o-box-shadow: inset 0 6px 12px -8px #333;
  -webkit-box-shadow: inset 0 6px 12px -8px #333;
  box-shadow: inset 0 6px 12px -8px #333; }
  .bottom-bar h1 {
    color: #DBE6EC;
    float: left;
    padding-right: 20px; }
  .bottom-bar h1:first-child {
    font-size: 13pt;
    position: relative;
    top: 7px;
    left: 10px; }
