@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  z-index: 0;
  font-family: "Lato", sans-serif;
  cursor: default; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

h1 {
  font-size: 25pt; }

input[type=button],
input[type=submit] {
  cursor: pointer; }

ul {
  list-style: none; }

input {
  cursor: text; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: #FEFDED;
  color: #808080; }

.sign-pg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  margin-top: -225px;
  margin-left: -225px;
  text-align: center;
  background: #fff;
  border: 5px solid #F8E0D1;
  border-radius: 225px;
  -webkit-border-radius: 225px;
  -moz-border-radius: 225px;
  -khtml-border-radius: 225px;
  -moz-box-shadow: 0 0 20px -5px #333;
  -o-box-shadow: 0 0 20px -5px #333;
  -webkit-box-shadow: 0 0 20px -5px #333;
  box-shadow: 0 0 20px -5px #333; }

.login_form {
  position: relative;
  font-size: 12pt;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -150px; }
  .login_form h2 {
    font-size: 18pt; }
  .login_form h1 {
    position: relative;
    top: 30px;
    left: -70px;
    font-size: 14pt; }
  .login_form .input_form {
    position: relative;
    top: 40px; }
    .login_form .input_form input[type=text],
    .login_form .input_form input[type=password] {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 10px;
      width: 200px;
      height: 40px;
      margin-top: 8px; }
  .login_form a {
    position: relative;
    top: 60px;
    left: -5px;
    color: #808080;
    font-size: 9pt; }
  .login_form input[type=submit] {
    position: relative;
    top: 60px;
    left: 4px;
    background: #E89867;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff; }

.signup_form {
  position: relative;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -135px;
  margin-left: -150px; }
  .signup_form h2 {
    font-size: 18pt; }
  .signup_form .form {
    position: relative;
    top: 20px; }
    .signup_form .form input[type=text],
    .signup_form .form input[type=password] {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 10px;
      width: 200px;
      height: 40px;
      margin-top: 8px; }
  .signup_form input[type=submit],
  .signup_form input[type=button] {
    position: relative;
    top: 40px;
    background: #E89867;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff; }
  .signup_form .submit {
    margin-left: 10px; }
