@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  z-index: 0;
  font-family: "Lato", sans-serif;
  cursor: default; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

h1 {
  font-size: 25pt; }

input[type=button],
input[type=submit] {
  cursor: pointer; }

ul {
  list-style: none; }

input {
  cursor: text; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
.signup_pg {
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -332px;
  padding: 50px 30px;
  background: #FFFFFF;
  border-right: 4px solid #C2CBCE;
  -moz-box-shadow: inset 7px 0 7px -8px #333;
  -o-box-shadow: inset 7px 0 7px -8px #333;
  -webkit-box-shadow: inset 7px 0 7px -8px #333;
  box-shadow: inset 7px 0 7px -8px #333; }
  .signup_pg form {
    text-align: center; }
    .signup_pg form h2 {
      color: #333;
      font-size: 22pt;
      margin-bottom: 20px; }
    .signup_pg form input[type=text],
    .signup_pg form input[type=password] {
      background: #E8F3F8;
      padding: 14px;
      width: 330px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -khtml-border-radius: 3px;
      border: none;
      margin-top: 30px; }
    .signup_pg form .btn {
      margin-top: 70px; }
      .signup_pg form .btn input[type=button],
      .signup_pg form .btn input[type=submit] {
        background: #4B99AD;
        border: none;
        color: #FFFFFF;
        padding: 8px 15px 8px 15px; }
      .signup_pg form .btn .back_btn {
        position: relative;
        left: -2px; }
      .signup_pg form .btn input[type=submit]:first-child {
        margin-right: 10px; }
