{% extends "layout.html" %}

{% block main %}
<section class="main-pg container">
	<div class="page-header">
	  <h2>페이지 소개</h2>
	</div>
<!--
	<div class="jumbotron">
	  <div class="container">
	    <h1>번역</h1>
	    <p>번역은 어떻게 하는 건가요?</p>
	    <p><a href="" class="btn btn-primary btn-lg">시작하</a></p>
	  </div>
	</div>
-->
	<h2>진행상황</h2>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
	  </div>
	</div>
	<h2>순위</h2>
	<table class="table table-striped">
		<thead>
			<td>No.
			<td>이름
			<td>작업한 횟수
		</thead>
		<tbody>
			<td>1
			<td>이제현
			<td>500
		</tbody>
	</table>
</section>
{% endblock %}