<!DOCTYPE html>
<html>
<head>
	{% if title %}
    <title>Animoa:Translate-{{ title }}</title>
    {% else %}
    <title>Animoa:Translate</title>
    {% endif %}	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
</head>
<body>
	<section class="sign-pg">

		<form action="" method="post" class="login_form">
			<h2>DB 한글화 프로젝트</h2>
			<h1>로그인</h1>
			<div class="input_form">
				{{ form.username(class_="user_email", placeholder="아이디") }}
				{{ form.password(class_="user_password", placeholder="패스워드") }}
			</div>
			<a href="{{ url_for('auth.signup') }}">아직 회원이 아니세요?</a>
			{{ form.csrf_token }}
			<input type="submit" value="로그인" />
		</form>

	</section>
</body>
</html>
