<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.11.2.js"></script>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" />
</head>
<body>
	<section class="sign-pg">

        <form action="" method="post" class="signup_form">
            <h2>회원가입</h2>
            <div class="form">
                {{ form.name(class_="user_email", placeholder="이름") }}
                <br />
                {{ form.username(class_="user_email", placeholder="아이디") }}
                <br />
                {{ form.password(class_="user_password", placeholder="패스워드") }}
                {{ form.csrf_token }}
            </div>
            <br>
            <section class="btn">
                <a href="{{ url_for('auth.login') }}"><input type="button" name="go_back" value="back" /></a>
                <input class="submit" type="submit" value="submit" />
            </section>
        </form>

    </section>
</body>
</html>